###################
# Global settings #
###################

# how many items to search for at a time (75 is default, 320 is max)
list_limit = 100

# number of download threads
max_workers = 4


#########
# Rules #
#########

[rules.testing]

# search tags
tags = "tagme"

# download directory, must have a trailing slash
download_directory = "./downloads/tagme/"
